# akmd8975
type akmd8975, domain;
type akmd8975_exec, exec_type, file_type;
type akmd8975_file, file_type;

init_daemon_domain(akmd8975)

allow akmd8975 sensors_device:chr_file rw_file_perms;
allow akmd8975 system_data_file:dir create_dir_perms;
allow akmd8975 system_data_file:file create_file_perms;
allow akmd8975 akmd8975_file:file create_file_perms;
