# Needed for safestrap (loopback-files on vfat)
allow init vfat:file rw_file_perms;
allow init vfat:dir r_dir_perms;
allow init block_device:blk_file { create write relabelfrom };
allow init block_device:lnk_file { create write rename };
allow init loop_system_block_device:blk_file { relabelto };
allow init userdata_block_device:blk_file { relabelto };
allow init cache_block_device:blk_file { relabelto };
allow init socket_device:sock_file rw_file_perms;

domain_trans(init, rootfs, fixboot)
domain_trans(init, motbootmode_exec, motbootmode)
domain_trans(init, rootfs, vold)
