allow mediaserver device:dir { read open };
allow mediaserver proc:file write;
allow mediaserver system:unix_stream_socket { read write setopt };
allow mediaserver system_data_file:sock_file write;
