allow netd self:capability fsetid;
allow netd motbootmode_prop:file r_file_perms;
allow netd toolbox_exec:file { execute_no_trans };
allow netd sysfs:file rw_file_perms;
allow netd sysfs:dir rw_dir_perms;
domain_trans(netd, toolbox_exec, netd)
