allow vold system_file:dir { write add_name remove_name };
allow vold system_file:file { write create rename unlink link setattr };
allow vold sdcard_external:file getattr;
